<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send request to the machine</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<div style="margin-left: 20%; margin-top: 2%">
    <input type="text" id="input" placeholder="type command here">
    <button id="button">Send request</button>
    <textarea
    rows="5" cols="33"
    type="text"
    id="output"
    placeholder="output"></textarea>
</div>
</body>
</html>